* {
  margin: 0;
  box-sizing: border-box;
  background-color: #2b2a2a;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.grid {
  height: 100vh;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(1, 1fr);
}

.menu {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 40px;
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.menu_castaway {
  font-size: 32px;
}
.menu_secondary {
  display: grid;
  grid-auto-flow: column;
  font-size: 27px;
}
.menu_pad:nth-child(-n + 3) {
  padding-right: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.home {
  /* box-sizing: border-box; */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  color: white;
  font-size: 88px;
  margin-left: 32px;
  padding-left: 20px;
  /* background-color: #191919; */
}

.txt_man {
  /* display: flex;
  flex-direction: row; */
  /* justify-items: start; */
  /* text-align: left; */
}
/* .listen_on {
  margin-top: 20px;
} */
.listen {
  font-size: 24px;
  margin-left: 15px;
  margin-top: 100px;
}
.episodes_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  padding: 20px;
}
.h2_episodes {
  font-size: 80px;
  color: white;
}
.btn_episodes {
  font-size: 24px;
  color: white;
  background-color: #118da8;
  border-radius: 8px;
  border: 0;
  padding: 0 20px 0 20px;
  height: 75px;
}
.img_card1,
.img_card2,
.img_card3 {
  background: inherit;
  /* height: 432px;
  width: 389px; */
  margin-right: 40px;
}
.cards_episodes {
  margin-top: 50px;
  display: grid;
  grid-gap: 50px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 20px;
}
.card {
  align-items: center;
  padding: 40px;
  background: #000;
  border-radius: 25px;
  display: flex;
}
.btn_txt {
  background: inherit;
}
.btn_card {
  padding: 10px;
  color: #2b2a2a;
  border: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
.a_cards {
  text-decoration: none;
  margin-top: 50px;
  background: inherit;
}
.a_card {
  color: #118da8;
  background: inherit;
}
.h3_card {
  background: inherit;
  color: white;
  font-size: 70px;
  /* word-spacing: 7px; */
  margin: 20px 100px 20px 0px;
  letter-spacing: 0.2rem;
}
.h4_card {
  background: inherit;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
.arrow-1 {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
}
.arrow-1 div {
  position: relative;
  top: 35px;
  width: 90px;
  height: 5px;
  background-color: #f5f7f8;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
  left: 0;
  display: block;
}
.arrow-1 div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  top: -13px;
  right: -7px;
  background-color: #f5f7f8;
  transform: rotate(45deg);
}
.arrow-1 div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  top: 13px;
  right: -7px;
  background-color: #f5f7f8;
  /* box-shadow: 0 3px 5px #f5f7f8; */
  transform: rotate(-45deg);
}
.arrow-1:hover {
  animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
.arrow {
  background: #118da8;
  border-radius: 50%;
  border: 0;
}
.arrow > div {
  background: #118da8;
}
.about {
  margin-top: 50px;
  display: grid;
  grid-gap: 50px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 20px;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.subscribe {
  align-items: center;
  /* padding: 40px; */
  background: #000;
  border-radius: 25px;
  display: flex;
  margin-left: 52px;
  margin-right: 52px;
  padding: 40px;
}
.subscribe_txt {
  background: inherit;
}
.subscribe_txt > .a_cards {
  margin-bottom: 0px;
}
.subscribe_txt > .h3_card {
  margin-top: 0;
}
.input {
  grid-gap: 10px;
  display: grid;
  background: inherit;
  /* position: relative; */
  width: 50%;
}
input[type="Name"] {
  width: 100%;
  background: #2b2a2a;
  border-radius: 8px;
  border: 0;
  font-size: 30px;
  padding: 20px;
}
